extends layout.pug

block content
    div= `${hobbyPost.User.firstName} ${hobbyPost.User.lastName}`
    div= hobbyPost.createdAt.toLocaleDateString(undefined, options)
    div= hobbyPost.title
    div= hobbyPost.content