extends layout.pug

block content
    div(class='postpage-container')
        div(class='postpage-title') #{hobbyPost.title}
        div(class='post-details')
            div(class='postpage-fullname') #{hobbyPost.User.firstName} #{hobbyPost.User.lastName}
            div(class='postpage-date') #{hobbyPost.createdAt.toLocaleDateString(undefined, options)}
        div(class='postpage-content') #{hobbyPost.content}

        if locals.user
            if locals.user.id === hobbyPost.userId
                div(class='edit-delete-container')
                    a(href= `/hobbyposts/${hobbyPost.id}/edit`) Edit
                    a(href= `/hobbyposts/${hobbyPost.id}/delete`) Delete

    button(class='likes' id=`${hobbyPost.id}`) click here to update likes

    //- form(class="create-comment-form")
    //- .comment-form-group
    //-   label(for='content') Comment
    //-   textarea#comment.comment-form-control(type='content', name="content", placeholder='What do YOU think?')
    //- button(type='submit') Share comment

    //- div(class="comments-container")
    //-   each comment in hobbyPost.Comment.content
    //-     div(class="comments-box")
    //-       div(class="user-header") #{comment.user.firstName} #{comment.user.lastName}
    //-       div(class="comments-body")
    //-           p(class='comments-content') #{comment.content}

    //- script(type="module" src="js/index.js")
    script(type="module" src="/javascripts/likes.js")

