extends layout.pug

block content
    div= `${hobbyPost.User.firstName} ${hobbyPost.User.lastName}`
    div= hobbyPost.createdAt.toLocaleDateString(undefined, options)
    div= hobbyPost.title
    div= hobbyPost.content

    if locals.user.id === hobbyPost.userId
        a(href= /hobbyposts/${hobbypost.id}/edit`)
