extends layout.pug

block content
    div(class='postpage-container')
        div(class='postpage-title') #{hobbyPost.title}
        div(class='post-details')
            i(class="fa fa-user-circle")
            div(class='postpage-fullname') #{hobbyPost.User.firstName} #{hobbyPost.User.lastName}
            div(class='postpage-date') #{hobbyPost.createdAt.toLocaleDateString(undefined, options)}
            if locals.user
                if locals.user.id === hobbyPost.userId
                    div(class='dropdown')
                        button(class='dropbtn')
                            i(class='fa fa-ellipsis-h fa-10x')
                        div(class='dropdown-content')
                            a(href= `/hobbyposts/${hobbyPost.id}/edit`) EDIT
                            a(href= `/hobbyposts/${hobbyPost.id}/delete`) DELETE
            if locals.user
                    if userShaka
                        button(class='likes' id=`${hobbyPost.id}`) #{shakasCount}
                    else
                        button(class='likes' id=`${hobbyPost.id}`) #{shakasCount}
            else
                div(class='auth' id=`${auth}`) Shakas #{shakasCount}

        div(class='postpage-content') #{hobbyPost.content}
    form(class="create-comment-form" method="post" action=`/hobbyposts/${hobbyPost.id}/comments`)
      .form-group
        label(for='content') Comment
        textarea#content.comment-form-control(type='content', name="content", placeholder='What do YOU think?')
      button(type="submit" class='submit-comment' id=`${hobbyPost.id}`) Share comment

    div(class="comments-container")
        div(class="comments-box")
            each comment in comments
                div(class="user-header" id=`${comment.User.firstName} ${comment.User.lastName}`) #{comment.User.firstName} #{comment.User.lastName}
                div(class="comments-body")
                    p(class='comments-content') #{comment.content}


    script(type="module" src="/javascripts/index.js")
    script(type="module" src="/javascripts/likes.js")
