extends layout.pug

block content

  link(rel='stylesheet' href='/stylesheets/log-reg.css')
  div(class="homebk")
    img(src="homebk.jpg" id='homebk')

  div(class='home-header-container')
    div(class="header-con-con")
      div(class="header-con")
        div(class='home-header') Here are the newest Hobby Posts!
    each hobbyPost in hobbyPosts
      div(class='post-group')
        div(class='name-and-date-group')
          i(class="fa fa-user-circle")
          a(class='home-page-post-author' href=`/users/${hobbyPost.User.id}`) #{hobbyPost.User.firstName} #{hobbyPost.User.lastName}
          div(id="share-date" class='home-page-share-date') #{hobbyPost.createdAt.toLocaleDateString(undefined, options)}
        div(class='title-link-container')
          a(class='home-page-title-link' href=`/hobbyposts/${hobbyPost.id}`) #{hobbyPost.title}
