extends layout.pug

block content
    
    each post in hobbyPosts
        div= `${post.User.firstName} ${post.User.lastName}`

        div= post.createdAt.toLocaleDateString(undefined, options)
        div= post.title
        div= post.content
        if locals.user
            if locals.user.id === post.userId
                div(class='edit-delete-container')
                    a(href= `/hobbyposts/${post.id}/edit`) Edit
                    a(href= `/hobbyposts/${post.id}/delete`) Delete
