mixin validationErrorSummary(errors)
  if errors
    div(class='errors')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  link(rel='stylesheet' href='/stylesheets/log-reg.css')
  div(class='form-entries')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName, placeholder=placeHolder, value=fieldValue class='input')

